# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Local env
.env
.env.*

# Node/JS
node_modules/

# macOS
.DS_Store

# Terraform - Sensitive files and state
*.tfvars
*.auto.tfvars
*.tfstate
*.tfstate.*
.terraform/
